<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>VAANI-ONE</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="css/clean-blog.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/chatbox.css">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          

        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        



    <![endif]-->




        <script src="/socket.io/socket.io.js"></script>
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>


<script>
    var socket = io();
    socket.emit('testerEvent', 'gulshan Kumar');
    

    function enter(){
            socket.emit('userRequest', document.getElementById('btn-input').value);



            var inputTxt = document.getElementById('btn-input').value;

            var txt1 = `    <li class="left clearfix"><span class="chat-img pull-left">
                            
                        </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">User</strong> <small class="pull-right text-muted">
                                        </small>
                                </div>
                                <p>   ` + inputTxt + `   </p>
                            </div>
                        </li>  `;




            $("ul.chat").append(txt1);


        };




     socket.on('serverResponse',function(data){
              


            var outputTxt=data;
            var txt1 = `    <li class="left clearfix"><span class="chat-img pull-left">
                            
                        </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">Vaani</strong> <small class="pull-right text-muted">
                                        </small>
                                </div>
                                <p>  ` + outputTxt +`  </p>
                            </div>
                        </li>  `;




            $("ul.chat").append(txt1);
           





         });

</script>


</head>

<body>
    <div id="div1">

            <div class="col-md-12">
                <div class="panel panel-primary">
                    
                    <div class="panel-body">
                        <ul class="chat">



                            <li class="left clearfix"><span class="chat-img pull-left">
                            </span>
                                <div class="chat-body clearfix">
                                    
                                    <p>
                                        Hi, i am Vaani ! 
                                    </p>
                                </div>
                            </li>
    



                        </ul>
                    </div>
                



                <hr>

                    <div class="panel-footer">
                        <div class="input-group">
                            <input id="btn-input"  type="text" class="form-control input-sm" placeholder="Type your message here...">
                            <span class="input-group-btn">
                                <button class="btn btn-warning btn-sm" onclick="enter()" id="btn-chat">
                                    Send</button>
                            </span>
                        </div>
                    </div>








                </div>
            </div>

    </div>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="">VAANI-ONE</a>
                <hr class="small">
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">

                    <li>
                        <a href="">Home</a>
                    </li>
                    
                    <li>
                        <a href="about">About</a>
                    </li>
                    
                    <li>
                        <a href="contact">Contact</a>
                    </li>

                    <li>
                        <a href="login">Login</a>
                    </li>


                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Vaani-One</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/clean-blog.min.js"></script>

</body>

</html>
