<!DOCTYPE html>
<html>
  <head><title>Hello world</title></head>
  

   <script src="/socket.io/socket.io.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
   <link rel="stylesheet" href="/css/chatbox.css">
  



  <script>
    var socket = io();
    socket.emit('testerEvent', 'gulshan Kumar');
    

    function enter(){
            socket.emit('userRequest', document.getElementById('btn-input').value);



            var inputTxt = document.getElementById('btn-input').value;

            var txt1 = `    <li class="left clearfix"><span class="chat-img pull-left">
                            
                        </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">Jack Sparrow</strong> <small class="pull-right text-muted">
                                        <span class="glyphicon glyphicon-time"></span></small>
                                </div>
                                <p>   ` + inputTxt + `   </p>
                            </div>
                        </li>  `;




            $("ul").append(txt1);

            var $target = $('html,body,ul'); 
            $target.animate({scrollTop: $target.height()}, 1000);

        };




     socket.on('serverResponse',function(data){
              


            var outputTxt=data;
            var txt1 = `    <li class="left clearfix"><span class="chat-img pull-left">
                            
                        </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">Jack Sparrow</strong> <small class="pull-right text-muted">
                                        <span class="glyphicon glyphicon-time"></span></small>
                                </div>
                                <p>  ` + outputTxt +`  </p>
                            </div>
                        </li>  `;




            $("ul").append(txt1);





         });

</script>


   

   <body>

 <div id="div1">

   <div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="panel panel-primary">
                
                <div class="panel-body">
                    <ul class="chat">



                        <li class="left clearfix"><span class="chat-img pull-left">
                        </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">Jack Sparrow</strong> <small class="pull-right text-muted">
                                        <span class="glyphicon glyphicon-time"></span>12 mins ago</small>
                                </div>
                                <p>
                                    Hi, i am Vaani ! 
                                </p>
                            </div>
                        </li>
 



                    </ul>
                </div>
            





              <hr>












                <div class="panel-footer">
                    <div class="input-group">
                        <input id="btn-input"  type="text" class="form-control input-sm" placeholder="Type your message here...">
                        <span class="input-group-btn">
                            <button class="btn btn-warning btn-sm" onclick="enter()" id="btn-chat">
                                Send</button>
                        </span>
                    </div>
                </div>








            </div>
        </div>
    </div>
</div>

</div>
    




  
  </body>

</html>
