<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Daily UI - Day 1 Sign In</title>

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700|Lato:400,100,300,700,900' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="css/animate.css">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="css/style4.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="top">
            <h1 id="title" class="hidden"><span id="logo"><a href="/">VAANI-<span>ONE</span></a></span></h1>
        </div>
        <div class="login-box animated fadeInUp">
            <div class="box-header">
                <h2><a href="login">Log In</a><span>|</span><a href="registration"><b style="color:black">Register</b></a></h2>
            </div>
            <form action="/registration" method="post">
                <br/>
                   <%= message %>
                <br/>
                    <input type="text"  placeholder="First Name" name="firstName"/>
                <br/>
                    <input type="text"  placeholder="Last Name" name="lastName"/>
                <br/>
                    <input type="text"  placeholder="Email" name="email"/>
                <br/>
                    <input type="password"  placeholder="Password" name="password"/>
                <br/>
                    
                    <input type="submit" name="submit" value="Send"/>
   
        </form>
        </div>
    </div>
</body>



</html>


